/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.nav-container
{
	overflow: hidden;
	height:45px;
	width:100%;
	position: fixed;
	margin: 0px;
	top:0px;
	left:0px;
	z-index: 101;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 13px;
	color: #8c7e7e;
	background-color: #faf7f7;
	border-top: 1px solid #cfcaca;
	box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
}
#logoText
{
	color: #236F92;
	font-size: 30px;
	font-weight: bolder;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}
.nav-container.a
{
	color: white;
}
.nav-container.a:hover
{
	color: red;
}
.container
{
	margin-top: 45px;
	margin:auto;
	width: 90%;
	z-index: 1;
}
.navBar
{
	position: relative;
	padding-top: 10px;
	width:90%;
	height: :45px;
	margin: auto;
	

}
#logo
{
	float:left;
}

#searchDiv
{
	float:left;
	margin-left: 120px;
	margin-bottom: 5px;
}
.navbar-search
{
	margin-top: -4px;
}
#userInfo
{
	display: block;
	float:right;
	padding-left:10px;
	padding-right: 10px;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: rgba(213, 206, 206, 0.62);

}


#q
{

	width:350px;
}
.qb 
{
	margin-bottom: 10px;
	background: url(/assets/search.gif) no-repeat;
	margin-left: -1px;
	padding: 9px 7px 7px;
	border: 1px solid;
	border-color: #c2c0c0 #cccaca #d1cfcf;
	box-shadow: 0 1px rgba(255,255,255,0.9),inset 0 0 2px rgba(255,255,255,0.75);
	-moz-box-shadow: 0 1px rgba(255,255,255,0.9),inset 0 0 2px rgba(255,255,255,0.75);
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.9),inset 0 0 2px rgba(255,255,255,0.75);


	background-color: #f0eded;
	background: -moz-linear-gradient(top, #fffcfc, #f0eded);
	background: -o-linear-gradient(#fffcfc, #f0eded);
	background: -webkit-linear-gradient(#fffcfc, #f0eded);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfc', endColorstr='#f0eded');
}
.qb:hover
{

	box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-moz-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-webkit-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15)
}
.qb:active
{

	box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-moz-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-webkit-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15)
}

#map 
{
	position: fixed;
	top: 45px;
	left:0px;
	width: 100%;
	/*background-color: rgb(231, 225, 225);*/
}

.yt-uix-button-primary:hover {
border-color: #325e92;
background-color: #3d71b0;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff3f76b7,EndColorStr=#ff3d71b0);
background-image: -moz-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: -ms-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: -o-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3f76b7),color-stop(100%,#3d71b0));
background-image: -webkit-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: linear-gradient(to bottom,#3f76b7 0,#3d71b0 100%);
}

.yt-uix-button-primary, a.yt-uix-button-primary .yt-uix-button-content {
color: #fff;
}

.yt-uix-button-primary, body .yt-uix-button-primary[disabled] {
background-color: #6891e7;
border-color: #3f76b7;
text-shadow: 0 1px 0 rgba(0,0,0,.25);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff5384be,EndColorStr=#ff3f76b7);
background-image: -moz-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: -ms-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: -o-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5384be),color-stop(100%,#3f76b7));
background-image: -webkit-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: linear-gradient(to bottom,#5384be 0,#3f76b7 100%);
}

.yt-uix-button {
height: 2.55em;
padding: 0 .9em;
border-width: 1px;
border-style: solid;
outline: 0;
font-weight: bold;
font-size: 11px;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}