/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.nav-container
{
	
	height:45px;
	width:100%;
	position: fixed;
	margin: 0px;
	top:0px;
	left:0px;
	z-index: 101;
	right: 0;
	left: 0;
	
}

.nav-container, .user-menu, #errorContent
{
	background-color: #faf7f7;
	text-align: center;
	font-size: 13px;
	color: #8c7e7e;
	border-top: 1px solid #cfcaca;
	box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	-moz-box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	-webkit-box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);

}
.homeleftHead, .homeleftBottom
{

	border-top: 1px solid #cfcaca;
	box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
}
.logoText
{
	color: #236F92;
	font-size: 30px;
	font-weight: bolder;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}
.logoText:hover
{
	text-decoration: none;
}
/*.nav-container.a
{
	color: white;
}
.nav-container.a:hover
{
	color: red;
}*/
.container
{
	margin-top: 45px;
	margin:auto;
	width: 90%;
	z-index: 1;
}
.homeleft
{
	padding: 5px;
	/*-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;*/
	background-color: rgba(137, 158, 189, .6);
	margin-top: 55px;
	margin-left: 5%;
	margin-right: 0px;
	
	width: 350px;
	position: relative;
	float: left;

}
.homeright
{
	position: fixed;
        top: 55px;
        right:0px;
	width: 260px;
	margin-right: 5%;
	margin-left: 0px;
	
	transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out; /* FF 4 */
    -webkit-transition: left 1s ease-in-out; /* Safari & Chrome */
    -o-transition: left 1s ease-in-out;
}

.homefooter
{
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
	margin-left: 5%;
	margin-bottom: 0;
	position: fixed;
	bottom: 0px;
	font-size: 11px;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding-left: 2px;
	padding-right: 2px;
}
.homeleftHead
{
	/*-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;*/
	
}
.homeleftBottom
{
	margin-top: 5px;
	
	/*-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
*/
}

.homeleftHead, .homeleftBottom
{
	background-color: #F2F6F7;
	padding: 0px 10px 5px 10px;
}


.creatEventOpener {
	width: 250px;
	height: 20px;
	text-align: left;
	padding: 5px 0px 5px 20px;
	background-color: #8FC5F8;
	font-size: 14px;
	color: #334663;
	border-top: 1px solid #99C4E6;
	box-shadow: inset 0 1px #9EC1E7,0 1px 3px rgba(32, 28, 68, 0.4);
	-moz-box-shadow: inset 0 1px #9EC1E7,0 1px 3px rgba(32, 28, 68, 0.4);
	-webkit-box-shadow: inset 0 1px #9EC1E7,0 1px 3px rgba(32, 28, 68, 0.4);
}
.creatEventOpener:hover
{
	background-color: #EBE5E5;
	cursor: pointer;
	color: #333;
	border-top: 1px solid #cfcaca;
	box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	-moz-box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	-webkit-box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
}
 #eventForm
{
	width: 260px;
	position: absolute;
	left: 500px;
	transition:left .5s;
	-moz-transition:left .5s; /* Firefox 4 */
	-webkit-transition:left .5s; /* Safari and Chrome */
	-o-transition:left .5s; /* Opera */

	padding: 5px;
	margin: 0px;
	background-color: #faf7f7;
	border-top: 1px solid #cfcaca;
	box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	-moz-box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	-webkit-box-shadow: inset 0 1px #fff,0 1px 5px rgba(34,25,25,0.6);
	
	
}
/*.homeright:hover > #eventForm
{

	left: 0px;
}
*/

.icon-chevron-down
{
	margin:5px;
}
.navBar
{
	position: relative;
	padding-top: 10px;
	width:90%;
	height: :45px;
	margin: auto;
	

}
#logo
{
	float:left;
}

#searchDiv
{
	float:left;
	margin-left: 120px;
	margin-bottom: 5px;
}
.navbar-search
{
	margin-top: -4px;
}
#userInfo
{
	z-index: 50;
	overflow: visible;
	display: block;
	float:right;
	padding-left:10px;
	padding-right: 10px;
	/*border-width: 0px 1px 0px 1px;
	border-style: solid;
	border-color: rgba(213, 206, 206, 0.62);*/

}
#userInfo:hover > .user-menu
{
	display: block;
}
.pic_thumb
{

	float: left;
	width: 28px;
	height:28px;
}
.user-menu
{
	position: relative;
	display: none;
	top: 15px;
    left: 35px;
	z-index: 50;
	width:135px;
	text-align: left;

}
.user-menu > ul 
{
 list-style-type: none;
}
.user-menu > ul > li 
{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: rgba(213, 206, 206, 0.62);
}
.user-option
{
	position: relative;
	top: 3px;
	padding:5px 0px 8px 25px;
}
.user-name:hover
{

	text-decoration: none;
	
}
#q
{

	width:350px;
}
.qb 
{
	margin-bottom: 10px;
	background: url(/assets/search.gif) no-repeat;
	margin-left: -1px;
	padding: 9px 7px 7px;
	border: 1px solid;
	border-color: #c2c0c0 #cccaca #d1cfcf;
	box-shadow: 0 1px rgba(255,255,255,0.9),inset 0 0 2px rgba(255,255,255,0.75);
	-moz-box-shadow: 0 1px rgba(255,255,255,0.9),inset 0 0 2px rgba(255,255,255,0.75);
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.9),inset 0 0 2px rgba(255,255,255,0.75);


	background-color: #f0eded;
	background: -moz-linear-gradient(top, #fffcfc, #f0eded);
	background: -o-linear-gradient(#fffcfc, #f0eded);
	background: -webkit-linear-gradient(#fffcfc, #f0eded);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfc', endColorstr='#f0eded');
}
.qb:hover
{

	box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-moz-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-webkit-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15)
}
.qb:active
{

	box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-moz-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15);
	-webkit-box-shadow:inset 0 1px 1px rgba(34,29,29,0.15)
}

#map 
{
	position: fixed;
	top: 45px;
	left:0px;
	width: 100%;
	z-index: -1;
	/*background-color: rgb(231, 225, 225);*/
}

.yt-uix-button-primary:hover {
border-color: #325e92;
background-color: #3d71b0;
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff3f76b7,EndColorStr=#ff3d71b0);
background-image: -moz-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: -ms-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: -o-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#3f76b7),color-stop(100%,#3d71b0));
background-image: -webkit-linear-gradient(top,#3f76b7 0,#3d71b0 100%);
background-image: linear-gradient(to bottom,#3f76b7 0,#3d71b0 100%);
}

.yt-uix-button-primary, a.yt-uix-button-primary .yt-uix-button-content {
color: #fff;
}

.yt-uix-button-primary, body .yt-uix-button-primary[disabled] {
background-color: #6891e7;
border-color: #3f76b7;
text-shadow: 0 1px 0 rgba(0,0,0,.25);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ff5384be,EndColorStr=#ff3f76b7);
background-image: -moz-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: -ms-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: -o-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5384be),color-stop(100%,#3f76b7));
background-image: -webkit-linear-gradient(top,#5384be 0,#3f76b7 100%);
background-image: linear-gradient(to bottom,#5384be 0,#3f76b7 100%);
}

.yt-uix-button {
height: 2.55em;
padding: 0 .9em;
border-width: 1px;
border-style: solid;
outline: 0;
font-weight: bold;
font-size: 11px;
white-space: nowrap;
word-wrap: normal;
vertical-align: middle;
cursor: pointer;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}
.eT 
{
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
.eT 
{
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;

}
.eTr
{
	margin:0px;
	padding: 0px;
}
.eTh 
{
	margin: 0px;
	padding: 0px;
	text-align: right;

}
.eTd 
{
	margin: 0px;
	padding: 0px;
}
.eTl 
{
	margin-bottom: 0px;
	padding-right: 3px;
	cursor: pointer;
	color: #666;
	font-weight: bold;
	vertical-align: middle;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}
.eTi[type="text"], .eTi[type="password"], .eTi[type="email"]
{
	margin: 0px;
	padding: 3px;
	width: 200px;
	height: 15px;
	color: black;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}
.eTta, .eTi[type="text"], .eTl, #event_urgency, #event_category
{
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	line-height: 12px;
}
#event_urgency, #event_category
{
	margin: 0px;
	padding: 3px;
	width: 100%;
	resize: vertical;
	height: 20px;
	padding: 3px;
	
}
.eTta 
{
	margin: 0px;
	padding: 3px;
	width: 200px;
	height: 70px;
	color: black;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}
.eFSB
{
	float: right;
	padding: 10px;
	
}
.ajax-loader
{
	display: none;

}
.ajax-loader-loading
{
	display: block;
	float: left;
}
#eFpush
{
	width: 260px;
	float: left;
	border-top: 1px rgba(177, 173, 173, 0.41) solid;
	height: 15px;
	font-size: 11px;
	vertical-align: top;
	text-align: center;
	background-color: rgba(211, 192, 192, 0.41);
	padding-bottom: 3px;
}
#eFpush:hover
{
	background-color: rgba(211, 192, 192, 0.8);
	cursor: pointer;
}
.ui-corner-all, p.signup_link
{
	color: black;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}


#successDiv{display: none;}
#errorDiv{display: none;}

#successShow{
	display: block;
	position: fixed;
	width: 600px;
	margin-left: -300px;
	left: 50%;
	top: 50px;
	min-height: 50px;
	padding: 10px;
	z-index: 3600;
	box-shadow: inset 0 1px rgba(109, 226, 179),0 3px 9px rgba(34,25,25,0.6);
	-moz-box-shadow: inset 0 1px rgba(109, 226, 179),0 3px 9px rgba(34,25,25,0.6);
	-webkit-box-shadow: inset 0 1px rgba(109, 226, 179),0 3px 9px rgba(34,25,25,0.6);
	background-color: rgba(12, 189, 167, 0.88);
}
#errorShow{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3600;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px;
	width: 100%;
	height: 100%;
}
#errorContent, #successShow
{
	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	border-top: 1px solid #cfcaca;

}
#errorContent{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 50px;
	width: 400px;
	min-height: 300px;

	-webkit-border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	border-top: 1px solid #cfcaca;

}


/*CSS For DATETIME PICKER */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.ui-datepicker { top:55px;}
.ui-widget {font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;font-size: 11px;}