<div class="nav-container">
	<div class="navBar">
		<div id="logo">
			<%=link_to "Happenly", root_path, class: 'logoText' %>
			<!-- <span id="logoText"> Happenly </span>  -->
		</div>
		<div id="searchDiv">
			<%= render 'layouts/search' %>
		</div>
		<div id="userInfo">
			<% if signed_in? %>
				
				<%= render 'layouts/userBar' %>
			<% else %>
				<%= render 'layouts/signBar' %>
			<%end%>
		</div>
	</div>
</div>